<footer class="footer-container">
  <div class="footer-content" [ngClass]="{ 'mobile-footer': isMobile }">
    <div class="footer-links" [ngClass]="{ 'mobile-links': isMobile }">
      <a
        href="https://www.linkedin.com/in/kaitlyn-forks/"
        target="_blank"
        class="footer-icon"
        aria-label="LinkedIn"
      >
        <fa-icon [icon]="faLinkedin"></fa-icon> LinkedIn
      </a>
      <a
        href="https://github.com/kforks"
        target="_blank"
        class="footer-icon"
        aria-label="GitHub"
      >
        <fa-icon [icon]="faGithub"></fa-icon> GitHub
      </a>
      <a
        href="mailto:kaitlynforks@gmail.com"
        class="footer-icon"
        aria-label="Email"
      >
        <fa-icon [icon]="faEnvelope"></fa-icon> Kaitlynforks&#64;gmail.com
      </a>
    </div>
    <p class="footer-text">&copy; 2025 Kaitlyn Forks. All rights reserved.</p>
  </div>
</footer>
