<mat-toolbar style="margin-bottom: 32px">
  <!-- Main Nav Row -->
  <mat-toolbar-row
    class="primary-nav"
    (mouseenter)="enterNav()"
    (mouseleave)="leaveNav()"
  >
    <div class="margin-left-lg" [ngClass]="{ 'margin-left-xs': isMobile }">
      <img
        style="vertical-align: middle"
        ngSrc="assets/wt-logo.svg"
        priority
        alt="Logo"
        height="30"
        width="30"
        class="margin-right-sm"
      />
      <span *ngIf="!isMobile"
        >Kaitlyn Forks - Full Stack Software Engineer</span
      >
      <span *ngIf="isMobile">Kaitlyn Forks</span>
    </div>

    <div class="padding-right-md">
      <!-- LinkedIn Button -->
      <button
        class="margin-left-md"
        mat-icon-button
        aria-label="linkedin"
        (click)="openLinkedIn()"
        [matTooltip]="'LinkedIn'"
      >
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </button>

      <!-- Theme Button with Dropdown -->
      <button
        class="margin-left-md"
        mat-icon-button
        [matMenuTriggerFor]="themeMenu"
        aria-label="Theme"
        [matTooltip]="'Change Theme'"
      >
        <fa-icon [icon]="faPaintRoller"></fa-icon>
      </button>

      <mat-menu #themeMenu="matMenu">
        <button
          mat-menu-item
          *ngFor="let theme of themes"
          (click)="selectTheme(theme.class)"
        >
          {{ theme.name }}
        </button>
      </mat-menu>

      <!-- Share Button -->
      <button
        class="margin-left-md"
        mat-icon-button
        aria-label="share"
        (click)="copyUrlToClipboard()"
        [matTooltip]="'Share'"
      >
        <fa-icon [icon]="faShare"></fa-icon>
      </button>
    </div>
  </mat-toolbar-row>

  <!-- Secondary Nav Row -->
  <mat-toolbar-row
    *ngIf="activePrimaryLink && showSecondaryNav"
    class="secondary-nav"
    (mouseenter)="enterNav()"
    (mouseleave)="leaveNav()"
  >
    <ng-container [ngSwitch]="activeSecondaryLink">
      <div *ngSwitchCase="'About'">
        <span>About The Dev</span>
        <span>Career Journey</span>
      </div>
      <div *ngSwitchCase="'Portfolio'">
        <span>Projects</span>
        <span>Gallery</span>
        <span>Awards and Recognitions</span>
      </div>
      <div *ngSwitchCase="'Resume'">
        <span>View</span>
        <span>Download</span>
      </div>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
