<mat-toolbar>

  <!-- Main Nav Row -->
  <mat-toolbar-row class="nav-toolbar">
  <div class="margin-left-lg">
    <span>Kaitlyn Forks</span>
  </div>

  <div class="nav-links">
    <span class="margin-left-lg"> Dev Projects</span>
    <span class="margin-left-lg"> About </span>
  </div>

  <div class="nav-icons">
    <!-- LinkedIn Button -->
    <button mat-icon-button aria-label="linkedin" (click)="openLinkedIn()" [matTooltip]="'LinkedIn'">
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </button>
    <!-- Share Button -->
    <button mat-icon-button aria-label="share" (click)="copyUrlToClipboard()" [matTooltip]="'Share'">
      <mat-icon>share</mat-icon>
    </button>
  </div>
  </mat-toolbar-row>


  <!-- Projects Row -->
  <mat-toolbar-row class="nav-toolbar">
    <div>
      Second tool bar row
    </div>
  </mat-toolbar-row>
</mat-toolbar>
