.nav-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-icons {
  display: flex;
  flex:auto;
  justify-content: end;
}

.nav-links {
  display: flex;
  flex:auto;
  justify-content: center;
}
