@use './variables' as v;

// For global styles like body, html, and common resets.

// Reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global body styles
body {
  font-family: v.$font-family-base;
  font-size: v.$font-size-base;
  color: v.$text-color;
  background-color: v.$background-color;
  line-height: 1.5;
}

// Anchor styles
a {
  color: v.$primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


// Spacing Variables for Margin Mixin
$spacing: (
  xs: v.$spacing-xs,
  sm: v.$spacing-sm,
  md: v.$spacing-md,
  lg: v.$spacing-lg,
  xl: v.$spacing-xl
);

// Generate Margin Classes with a Mixin - ex: "margin-left-xl"
@mixin generate-margins {
  @each $key, $value in $spacing {
    @each $direction in ('left', 'right', 'top', 'bottom') {
      .margin-#{$direction}-#{$key} {
        margin-#{$direction}: #{$value};
      }
    }
  }
}
@include generate-margins;
