@use './variables' as v;

// For reusable mixins like flexbox, shadows, etc.

// Flexbox utilities
@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Center elements
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Text truncation
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Box shadow
@mixin box-shadow($elevation: 1) {
  box-shadow: 0 $elevation * 1px $elevation * 3px rgba(0, 0, 0, 0.2);
}

// Spacing Variables for Margin Mixin
$spacing: (
  xs: v.$spacing-xs,
  sm: v.$spacing-sm,
  md: v.$spacing-md,
  lg: v.$spacing-lg,
  xl: v.$spacing-xl
);

// Generate Margin Classes with a Mixin - ex: "margin-left-xl"
@mixin generate-margins {
  @each $key, $value in $spacing {
    @each $direction in ('left', 'right', 'top', 'bottom') {
      .margin-#{$direction}-#{$key} {
        margin-#{$direction}: #{$value};
      }
    }
  }
}
@include generate-margins;

// Generate Padding Classes with a Mixin - ex: "padding-left-xl"
@mixin generate-paddings {
  @each $key, $value in $spacing {
    @each $direction in ('left', 'right', 'top', 'bottom') {
      .padding-#{$direction}-#{$key} {
        padding-#{$direction}: #{$value};
      }
    }
  }
}
@include generate-paddings;
