@use "./variables" as v;

// For utility classes (e.g., text-center, mt-sm).
// Utility classes

.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.mt-sm {
  margin-top: v.$spacing-sm;
}

.pt-md {
  padding-top: v.$spacing-md;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-height: 90%;
}

.space-between-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: v.$spacing-sm;
  gap: v.$spacing-xl;
}

.flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
