<div class="hero-container flex-center-row">
  <div class="hero-image-container">
    <img
      class="hero-image"
      ngSrc="assets/images/headshot.webp"
      width="1137"
      height="1707"
      alt="Headshot of Kaitlyn Forks"
      priority
    />
  </div>
  <div class="hero-text">
    <h1 class="hero-title">I'm Kaitlyn Forks</h1>
    <p class="hero-description">
      I specialize in scalable, light-weight applications built with Angular,
      Node.js, and AWS Cloud Services
    </p>
    <button mat-flat-button>
      <a
        href="assets/files/2025.ForksKaitlyn.Resume.pdf"
        download="Kaitlyn_Forks_Resume.pdf"
      >
        Download my resume
      </a>
    </button>
  </div>
</div>
