<div *ngIf="!isMobile; else mobileView" class="hero-container flex-center-row">
  <div class="hero-content">
    <div class="hero-image-container">
      <img
        class="hero-image"
        ngSrc="../../../../assets/images/headshot.webp"
        width="1137"
        height="1707"
        alt="Headshot of Kaitlyn Forks"
        priority
      />
    </div>
    <div class="hero-text">
      <h1 class="hero-title">I'm Kaitlyn Forks</h1>
      <p class="hero-description">
        I specialize in scalable, light-weight applications built with Node.js,
        React or Angular, & AWS Cloud Services. <br /><br />

        I'm currently exploring Agentic AI.
      </p>
      <a
        mat-flat-button
        href="../../../../assets/files/Resume2025.ForksKaitlyn.pdf"
        download="Kaitlyn_Forks_Resume.pdf"
      >
        Download my resume
      </a>
      <div class="hero-ctas">
        <a mat-button routerLink="/portfolio">See my work</a>
        <a mat-button routerLink="/about">About me</a>
      </div>
    </div>
  </div>
</div>

<ng-template #mobileView>
  <div class="hero-container-mobile flex-column">
    <div class="hero-text-mobile">
      <h1 class="hero-title-mobile">I'm Kaitlyn Forks</h1>
      <p class="hero-description-mobile">
        I specialize in scalable, light-weight applications built with Node.js,
        React or Angular, & AWS Cloud Services. <br /><br />

        I'm currently exploring Agentic AI.
      </p>
      <a
        mat-flat-button
        class="margin-top-md margin-bottom-md"
        href="../../../../assets/files/Resume2025.ForksKaitlyn.pdf"
        download="Kaitlyn_Forks_Resume.pdf"
      >
        Download my resume
      </a>
      <div class="hero-ctas hero-ctas-mobile">
        <a mat-button routerLink="/portfolio">See my work</a>
        <a mat-button routerLink="/about">About me</a>
      </div>
    </div>
    <div class="hero-image-container-mobile">
      <img
        class="hero-image-mobile"
        ngSrc="../../../../assets/images/headshot.webp"
        width="1137"
        height="1707"
        alt="Headshot of Kaitlyn Forks"
        priority
      />
    </div>
  </div>
</ng-template>
