.carousel-title {
  font-size: 1rem;
  padding: 8px;
  max-width: 800px;
  @media screen and (max-width: 600px) {
    font-size: 1rem;
    .carousel-subtitle {
      font-size: 0.75em;
    }
  }
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 90vw;
  margin: 0 auto;

  .nav-button {
    cursor: pointer;
    user-select: none;
    transition: color 0.3s;
    font-size: 2rem;

    &:hover {
      color: lightgrey;
    }
  }

  .carousel-wrapper {
    overflow: hidden;
    width: 100%;
  }

  .carousel-slide {
    display: flex;
    will-change: transform;

    &.slide-out-left {
      animation: slide-out-left 0.3s ease-in-out forwards;
    }
    &.slide-out-right {
      animation: slide-out-right 0.3s ease-in-out forwards;
    }
    &.slide-in-right {
      animation: slide-in-right 0.3s ease-in-out forwards;
    }
    &.slide-in-left {
      animation: slide-in-left 0.3s ease-in-out forwards;
    }

    .carousel-slide-content {
      display: flex;
      flex-direction: column;
      flex: 0 0 33.33%; // Show 3 items on desktop
      text-align: center;
      padding: 1rem;
      box-sizing: border-box;

      @media screen and (max-width: 600px) {
        flex: 0 0 100%; // Show 1 item on mobile
      }

      .strength-icon {
        font-size: 3rem;
        @media screen and (max-width: 600px) {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@keyframes slide-out-left {
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-out-right {
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.read-more {
  align-items: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
