.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 90vw;
  margin: 0 auto;

  .nav-button {
    cursor: pointer;
    user-select: none;
    transition: color 0.3s;
    font-size: 2rem;

    &:hover {
      color: lightgrey;
    }
  }

  .carousel-wrapper {
    overflow: hidden;
    width: 100%;
  }

  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;

    .carousel-slide-content {
      display: flex;
      flex-direction: column;
      flex: 0 0 33.33%; // Show 3 items
      text-align: center;
      padding: 1rem;
      box-sizing: border-box;

      .strength-icon {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
    }

    .mat-card {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }
}
