<div class="flex-column">
  <div class="carousel-title text-center">
    <h2>Strengths That Drive Success</h2>
    <div class="carousel-subtitle">
      Kaitlyn completed Gallup's Clifton Strengths assessment, a trusted
      resource used by organizations worldwide. These are the five strengths
      where she scored highest.
    </div>
  </div>

  <div class="carousel-container">
    <button mat-mini-fab (click)="prevSlide()" class="nav-button">
      <fa-icon [icon]="faCaretLeft"></fa-icon>
    </button>
    <div class="carousel-wrapper">
      <div class="carousel-slide" [ngClass]="animationClass">
        <div
          class="carousel-slide-content"
          *ngFor="let strength of visibleStrengths"
        >
          <mat-card
            class="flex-column"
            style="min-height: 100%; justify-content: start"
          >
            <fa-icon [icon]="strength.icon" class="strength-icon"></fa-icon>
            <h2 [innerHTML]="strength.title"></h2>
            <p class="margin-top-md">{{ strength.description }}</p>
          </mat-card>
        </div>
      </div>
    </div>
    <button mat-mini-fab (click)="nextSlide()" class="nav-button">
      <fa-icon [icon]="faCaretRight"></fa-icon>
    </button>
  </div>

  <div class="read-more flex-center-row" style="align-items: center">
    <h3>
      Read more about Kaitlyn's Strengths and how they interact here:
      <button
        mat-icon-button
        class="margin-left-sm"
        (click)="openPdf('Forks-Kaitlyn-SF_TOP_5.pdf')"
      >
        <fa-icon [icon]="faTrophy"></fa-icon>
      </button>
    </h3>
  </div>
</div>
