<div class="container">
  <app-strengths-carousel></app-strengths-carousel>

  <div>// test cards //</div>
  <div class="space-between-row">
    <mat-card>
      test card
      <div>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Habitasse proin
        montes, nam finibus magna purus potenti praesent. Vitae dapibus
        curabitur magna commodo vitae egestas varius turpis. Sit sagittis
        tristique mollis; porttitor tortor lacus id. Amet diam conubia vehicula
        et amet eros. Maximus primis dolor arcu curae neque. Eros posuere ac
        senectus mollis; sapien curabitur sollicitudin maximus dui. Commodo est
        adipiscing justo tortor ultricies varius eleifend.
      </div>
    </mat-card>
    <mat-card class="text-center">
      test card
      <div>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Habitasse proin
        montes, nam finibus magna purus potenti praesent. Vitae dapibus
        curabitur magna commodo vitae egestas varius turpis. Sit sagittis
        tristique mollis; porttitor tortor lacus id. Amet diam conubia vehicula
        et amet eros. Maximus primis dolor arcu curae neque. Eros posuere ac
        senectus mollis; sapien curabitur sollicitudin maximus dui. Commodo est
        adipiscing justo tortor ultricies varius eleifend.
      </div>
    </mat-card>
    <mat-card>
      test card
      <div>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Habitasse proin
        montes, nam finibus magna purus potenti praesent. Vitae dapibus
        curabitur magna commodo vitae egestas varius turpis. Sit sagittis
        tristique mollis; porttitor tortor lacus id. Amet diam conubia vehicula
        et amet eros. Maximus primis dolor arcu curae neque. Eros posuere ac
        senectus mollis; sapien curabitur sollicitudin maximus dui. Commodo est
        adipiscing justo tortor ultricies varius eleifend.
      </div>
    </mat-card>
    <mat-card class="text-center">
      test card
      <div>
        Lorem ipsum odor amet, consectetuer adipiscing elit. Habitasse proin
        montes, nam finibus magna purus potenti praesent. Vitae dapibus
        curabitur magna commodo vitae egestas varius turpis. Sit sagittis
        tristique mollis; porttitor tortor lacus id. Amet diam conubia vehicula
        et amet eros. Maximus primis dolor arcu curae neque. Eros posuere ac
        senectus mollis; sapien curabitur sollicitudin maximus dui. Commodo est
        adipiscing justo tortor ultricies varius eleifend.
      </div>
    </mat-card>
  </div>
</div>
